# Puerto del servidor (Recomendado: 4000)
PORT=4000

# Conexión a MongoDB en la nube (Reemplazar con el link real de MongoDB Atlas)
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/huellitas?retryWrites=true&w=majority

# Secreto para los Tokens JWT (Autenticación)
JWT_SECRET=supersecret_huellitas_2026
