# Puerto del servidor (Recomendado: 9000 o 4000)
PORT=9000

# Conexión a MongoDB en la nube
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/pawfriends?retryWrites=true&w=majority

# Secreto para los Tokens JWT (Autenticación)
JWT_SECRET=supersecret_pawfriends_2026

# Credenciales de Correo (Gmail Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicación
EMAIL_FROM=tu_correo@gmail.com
